@tailwind base;
@tailwind components;
@tailwind utilities;

.alert-success {
    background-color: #bbf7d0;
}

.alert-danger {
    background-color: #fecdd3
}

h1 {
    font-size: 3rem
}

h2 {
    font-size: 2rem
}
